<template name="viewAllOrders">
	
	<div class="posts">
	<table class="table">
			<th>User</th><th>Coffee Type</th><th>Milk Type</th><th>Extras</th><th>Remove</th>
		{{#each orders}}
			
			<tr><td>{{userName}}</td>{{> allMainOrder}}<td>{{> allExtras}}</td><td><button type="button" name="remove" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
			</td></tr>
			
		{{/each}}
	</table>
	</div>
</template>

<template name='allExtras'>
	{{#each extras}}<li>{{.}}</li>{{/each}}
</template>

<template name='allMainOrder'>
	{{#each theOrder}}
	<td>{{.}}</td>
	{{/each}}

</template>