<template name="viewOrders">
	<div class="posts">
	<table class="table">
			<th>User</th><th>Coffee Type</th><th>Milk Type</th><th>Extras</th><th>Complete</th>
		{{#each orders}}
			
			<tr><td>{{userName}}</td><td>{{mainOrder}}</td><td>Milk Type</td><td>{{extras}}</td><td><button type="button" name="remove" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
</button>
			</td></tr>
			
		{{/each}}
	</table>
	</div>
</template>

<template name='extras'>
	{{#each extras}}<li>{{.}}</li>{{/each}}
</template>

<!-- <template name='mainOrder'>
	{{#each mainOrder}}
	<td>{{.}}</td>
	{{/each}}
</template> -->